* {
  font-family: merriweather;
}

html {
  font-size: 18px;
}

header {
  background-color: rgb(44, 59, 71);
  padding: 15px;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

header h1 {
  color: white;
  font-size: 23px;
  padding-right: 10%;
  padding-left: 10%;
}

.container {
  padding: 5%;
}

.section-1 {
  text-align: center;
  margin-bottom: 25px;
}

.section-1 h1 {
  margin-top: 20px;
  font-size: 23px;
}

.section-1 p {
  color: rgba(92, 91, 91, 0.781);
  font-size: 14px;
}

.section-2 h2 {
  font-size: 23px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.border-line {
  height: auto;
  width: 100%;
  border-top: 5px solid rgb(44, 59, 71);
  border-bottom: 3px solid rgb(44, 59, 71);
  padding: 2px;
}

#zip-code {
  width: 45%;
}

.form-top label {
  margin-bottom: 7px;
  margin-top: 20px;
  display: block;
  color: rgba(92, 91, 91, 0.781);
}

.form-top input {
  width: 93%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: rgb(233, 232, 232);
}

.form-top select {
  width: 100%;
}

.border-line-2 {
  height: auto;
  width: 100%;
  border-top: 3px solid rgb(44, 59, 71);
  margin-top: 30px;
  margin-bottom: 20px;
}

.form-bottom input {
  margin-bottom: 25px;
}

.form-bottom label {
  display: inline-block;
  color: rgba(92, 91, 91, 0.781);
}

.form-bottom p {
  color: rgba(92, 91, 91, 0.781);
}
textarea {
  width: 68%;
  padding: 50px;
  border: none;
  background: rgb(233, 232, 232);
  border-radius: 5px;
}

input {
  text-align: right;
}

input:focus {
  text-align: left;
  border: solid 2px lightblue;
}

::-webkit-input-placeholder {
  font-style: italic;
  padding-right: 3px;
}
:-moz-placeholder {
  font-style: italic;
  padding-right: 3px;
}
::-moz-placeholder {
  font-style: italic;
  padding-right: 3px;
}
:-ms-input-placeholder {
  font-style: italic;
  padding-right: 3px;
}

select {
  width: 93%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: rgb(233, 232, 232);
  color: rgb(165, 165, 165);
}

.button {
  background-color: rgba(44, 165, 165, 0.808);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 20px 32px;
  font-size: 18px;
  margin-top: 25px;
}

footer {
  margin-top: 29px;
  padding-bottom: 50%;
  margin-left: 19%;
  font-size: 15px;
  color: rgba(122, 121, 121, 0.781);
}

/* end of mobile ------------------------------------*/

@media (min-width: 768px) {
  .container {
    max-width: 50%;
    margin: auto;
  }

  .form-top label {
    font-size: 15px;
  }

  .form-top input {
    position: absolute;
    right: 25%;
    width: 27%;
    margin-top: 12px;
  }

  .input-section {
    display: flex;
    flex-direction: column;
  }

  .form-top select {
    width: 12.7rem;
    position: absolute;
    left: 19.3rem;
    margin-top: 10px;
  }

  #input-zip {
    margin-top: 10%;
  }

  #zip-code {
    width: 8%;
    right: 19rem;
    margin-top: 28px;
  }

  .section-1 h1 {
    margin-top: 14px;
  }

  .section-1 p {
    margin-bottom: 36px;
    font-size: 11px;
  }

  .section-2 h2 {
    margin-top: 40px;
    font-size: 19px;
  }

  .border-line-2 {
    margin-top: 45px;
  }

  .form-bottom input {
    display: inline-block;
    margin-right: 10px;
  }

  textarea {
    width: 86.5%;
    margin-top: 17px;
    padding: 22px;
  }

  .form-bottom p:last-of-type {
    margin-bottom: 0px;
  }

  .button {
    padding-right: auto;
    padding: 9px;
  }

  footer {
    margin-top: 32px;
    margin-left: 25%;
    color: rgba(122, 121, 121, 0.781);
    font-style: italic;
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .form-top select {
    margin-left: 12%;
    width: 29.1%;
  }

  #zip-code {
    width: 8%;
    right: 25.3rem;
    margin-top: 30px;
  }

  #input-zip {
    margin-top: 8.5%;
  }

  .button {
    width: 96%;
  }
}
